<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book Form</title>
</head>
<body>
<h1>Страница добавления книги</h1>

<form th:action="@{/books/create}" th:object="${book}" th:method="POST">
    <label for="fio">Введите название книги:</label>
    <input type="text" id="fio" th:field="*{name}" required>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br>
    <label for="author">Введите автора:</label>
    <input type="text" id="author" th:field="*{author}" required>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
    <br>
    <label for="birth">Введите год:</label>
    <input type="text" id="birth" th:field="*{year}" required>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">fio error</div>
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>