<!-- Файл: create-user-form.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User Form</title>
</head>
<body>
<h1>Страница добавления человека</h1>

<form th:action="@{/people/create}" th:object="${person}" th:method="POST">
    <label for="fio">Введите ФИО:</label>
    <input type="text" id="fio" th:field="*{fio}" required>
    <br>
    <label for="birth">Введите год рождения:</label>
    <input type="date" id="birth" th:field="*{birth}" required>

    <input type="submit" value="Create">
</form>
</body>
</html>
