<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<a th:text="${person.getFio() + ', ' + person.getBirth()}">user</a><br><hr/>
<div th:if="${personBooks.size() == 0}">
    <p>Читатель пока не брал книг</p>
</div>
<div th:if="${personBooks.size() > 0}">
    <div th:each="book : ${personBooks}">
        <a th:text="${book.getName()+ ', ' + book.getAuthor() + ', ' + book.getYear()}">user</a>
    </div>
</div>

<br/>
<hr/>
<form th:action="@{/people/update/{personId}(personId=${person.id})}" method="post">
    <button type="submit">Редактировать</button>
</form>
<form th:action="@{/people/delete/{personId}(personId=${person.id})}" method="post">
    <button type="submit">Удалить</button>
</form>

</body>
</html>